body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: lightgrey; }

header {
  background: url("/../images/submarine2.jpg") no-repeat center;
  background-size: cover;
  height: 130px; }

.app-header {
  background-color: #222;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px black; }

.app-title {
  font-size: 3.5rem;
  font-weight: bold; }

.message-wrapper {
  color: red; }

table td {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer; }

table th {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle; }

.miss {
  background: url("/../images/miss.png") no-repeat center; }

.hit {
  background: url("/../images/hit.png") no-repeat center; }

.ship tr td {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background: url("/../images/hit.png") no-repeat center;
  background-size: contain;
  cursor: default; }
